Repository robertlinde/eslint-plugin-class-validator-type-match: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix

.lintstagedrc:

{
  "*.{ts,js,json}": ["npm run format"],
  "*.{ts,js}": ["npm run lint:fix"]
}

fix!: increase version (#17)
  package-lock.json
  package.json
Due: npm run format

fix: init check
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

fix: init check (#18)
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

feat: fixer for definite
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

feat: fixer for definite (#19)
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

feat(#21)!: split into multiple rules
  package-lock.json
  package.json
  readme.md
  src/index.ts
  src/rules/decorator-type-match.ts
  src/rules/definite-assignment-match.ts
  src/rules/type-decorator-match.ts
  src/rules/validate-nested-match.ts
  src/utils/type-helpers.util.ts
Due: npm run format, npm run lint:fix

feat(#21)!: split into multiple rules (#22)
  package-lock.json
  package.json
  readme.md
  src/index.ts
  src/rules/decorator-type-match.ts
  src/rules/definite-assignment-match.ts
  src/rules/type-decorator-match.ts
  src/rules/validate-nested-match.ts
  src/utils/type-helpers.util.ts
Due: npm run format, npm run lint:fix

feat(#20): validate name - file match
  package-lock.json
  package.json
  readme.md
  src/index.ts
  src/rules/dto-filename-match.ts
Due: npm run format, npm run lint:fix

feat(#20): validate name - file match (#23)
  package-lock.json
  package.json
  readme.md
  src/index.ts
  src/rules/dto-filename-match.ts
Due: npm run format, npm run lint:fix

fix: enum validation
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
  src/rules/type-decorator-match.ts
  src/rules/validate-nested-match.ts
  src/utils/type-helpers.util.ts
Due: npm run format, npm run lint:fix

fix: enum validation (#24)
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
  src/rules/type-decorator-match.ts
  src/rules/validate-nested-match.ts
  src/utils/type-helpers.util.ts
Due: npm run format, npm run lint:fix

fix: definite assignment without !
  package-lock.json
  package.json
  readme.md
  src/rules/definite-assignment-match.ts
Due: npm run format, npm run lint:fix

fix: definite assignment without ! (#25)
  package-lock.json
  package.json
  readme.md
  src/rules/definite-assignment-match.ts
Due: npm run format, npm run lint:fix

fix: transformer with primitives
  src/rules/type-decorator-match.ts
Due: npm run format, npm run lint:fix

chore: increase version
  package-lock.json
  package.json
Due: npm run format

fix: transformer with primitives (#26)
  package-lock.json
  package.json
  src/rules/type-decorator-match.ts
Due: npm run format, npm run lint:fix

fix: array of enum values
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
  src/utils/type-helpers.util.ts
Due: npm run format, npm run lint:fix

fix: array of enum values (#27)
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
  src/utils/type-helpers.util.ts
Due: npm run format, npm run lint:fix

feat(#31)!: add flat configs support
  readme.md
  src/index.ts
  tsconfig.json
Due: npm run format, npm run lint:fix

ci: remove codeql
  .github/workflows/quality.yml
Due: none

feat(#31)!: add flat configs support (#32)
  .github/workflows/quality.yml
  readme.md
  src/index.ts
  tsconfig.json
Due: npm run format, npm run lint:fix

test(#29): add tests
  .github/workflows/test.yml
  .gitignore
  package-lock.json
  package.json
  src/rules/__tests__/decorator-type-match.test.ts
  src/rules/__tests__/definite-assignment-match.test.ts
  src/rules/__tests__/dto-filename-match.test.ts
  src/rules/__tests__/optional-decorator-match.test.ts
  src/rules/__tests__/type-decorator-match.test.ts
  src/rules/__tests__/validate-nested-match.test.ts
  tsconfig.json
  vitest.config.ts
Due: npm run format, npm run lint:fix

test(#29): add tests (#33)
  .github/workflows/test.yml
  .gitignore
  package-lock.json
  package.json
  src/rules/__tests__/decorator-type-match.test.ts
  src/rules/__tests__/definite-assignment-match.test.ts
  src/rules/__tests__/dto-filename-match.test.ts
  src/rules/__tests__/optional-decorator-match.test.ts
  src/rules/__tests__/type-decorator-match.test.ts
  src/rules/__tests__/validate-nested-match.test.ts
  tsconfig.json
  vitest.config.ts
Due: npm run format, npm run lint:fix

chore: add renovate
  renovate.json
Due: npm run format

chore: add renovate (#34)
  renovate.json
Due: npm run format

feat(#30): auto npm deployments
  .github/workflows/release.yml
Due: none

feat(#30): auto npm deployments (#38)
  .github/workflows/release.yml
Due: none

fix: losen peer dependency versions
  package-lock.json
  package.json
  renovate.json
Due: npm run format

fix: losen peer dependency versions (#44)
  package-lock.json
  package.json
  renovate.json
Due: npm run format

fix: export type
  src/index.ts
Due: npm run format, npm run lint:fix

fix: export type (#45)
  src/index.ts
Due: npm run format, npm run lint:fix

fix: types definition
  index.d.ts
  package.json
  src/index.ts
Due: npm run format, npm run lint:fix

fix: types definition (#46)
  index.d.ts
  package.json
  src/index.ts
Due: npm run format, npm run lint:fix

fix: false positives on object utilities
  src/rules/__tests__/decorator-type-match.test.ts
  src/utils/type-helpers.util.ts
Due: npm run format, npm run lint:fix

fix: false positives on object utilities (#48)
  src/rules/__tests__/decorator-type-match.test.ts
  src/utils/type-helpers.util.ts
Due: npm run format, npm run lint:fix

fix: optional on validate if
  src/rules/__tests__/optional-decorator-match.test.ts
  src/rules/optional-decorator-match.ts
Due: npm run format, npm run lint:fix

fix: optional on validate if (#74)
  src/rules/__tests__/optional-decorator-match.test.ts
  src/rules/optional-decorator-match.ts
Due: npm run format, npm run lint:fix

feat(deps): update eslint
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
  src/rules/optional-decorator-match.ts
Due: npm run format, npm run lint:fix

feat(deps): update eslint (#125)
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
  src/rules/optional-decorator-match.ts
Due: npm run format, npm run lint:fix
