Repository robertlinde/eslint-plugin-class-validator-type-match: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix

.lintstagedrc:

{
  "*.{ts,js,json}": ["npm run format"],
  "*.{ts,js}": ["npm run lint:fix"]
}

ci: add ci workflows
  .github/workflows/build.yml
  .github/workflows/git.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
Due: none

ci: fix package versions
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

ci: add truffleifnore
  .truffleignore
Due: none

ci: remove trufflehog
  .github/workflows/quality.yml
  .truffleignore
Due: none

chore: add tooling (#1)
  .github/workflows/build.yml
  .github/workflows/git.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc
  .prettierrc
  commitlint.config.js
  eslint.config.mts
  package-lock.json
  package.json
  readme.md
  src/index.ts
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

fix: version numbers
  package-lock.json
  package.json
Due: npm run format

fix: version numbers (#2)
  package-lock.json
  package.json
Due: npm run format

feat: add optional decorator
  package-lock.json
  package.json
  readme.md
  src/index.ts
  src/rules/optional-decorator-match.ts
Due: npm run format, npm run lint:fix

feat: add optional decorator (#3)
  package-lock.json
  package.json
  readme.md
  src/index.ts
  src/rules/optional-decorator-match.ts
Due: npm run format, npm run lint:fix

feat(#4, #5)!: check enum and object types
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

refactor(#4, #5): adjust structure
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

feat(#4, #5): add 'IsNotEmpty' to type-agnostic decorators and refine type checks
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

feat(#4, #5)!: check enum and object types (#6)
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

feat: npm version mismatch fix
  package-lock.json
  package.json
Due: npm run format

feat: npm version mismatch fix (#7)
  package-lock.json
  package.json
Due: npm run format

fix: handle nested types
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

fix: handle nested types (#8)
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

fix: fix minor validation issues
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

feat: enhance optional decorator rule with additional checks and options
  src/rules/optional-decorator-match.ts
Due: npm run format, npm run lint:fix

feat: increase version
  package-lock.json
  package.json
Due: npm run format

feat: enhance optional rule (#9)
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
  src/rules/optional-decorator-match.ts
Due: npm run format, npm run lint:fix

feat: add support for unnecessary @ValidateNested detection and enhance examples
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

feat: expand decorator type mapping with additional string and number validators
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

feat: add support for unnecessary @ValidateNested detection (#10)
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

fix: improve handling of { each: true } option for decorators
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

fix: improve handling of { each: true } option for decorators (#11)
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

feat: enhance type validation for decorators, adding support for tuples and improved error messages
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

feat: enhance type resolution in decorator matching
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

feat: enhance type validation (#12)
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

feat: enhance type handling for utility types and multi-type unions
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

ci: increase version
  package-lock.json
  package.json
Due: npm run format

feat: enhance type handling for utility types and multi-type unions (#13)
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

feat: validate definite assignment and optional types
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
  src/rules/optional-decorator-match.ts
Due: npm run format, npm run lint:fix

feat: validate definite assignment and optional types (#14)
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
  src/rules/optional-decorator-match.ts
Due: npm run format, npm run lint:fix

fix: detect definite assignments
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
  src/rules/optional-decorator-match.ts
Due: npm run format, npm run lint:fix

fix: detect definite assignments (#15)
  package-lock.json
  package.json
  src/rules/decorator-type-match.ts
  src/rules/optional-decorator-match.ts
Due: npm run format, npm run lint:fix

fix: condition
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

fix: condition (#16)
  src/rules/decorator-type-match.ts
Due: npm run format, npm run lint:fix

fix: increase version
  package-lock.json
  package.json
Due: npm run format

fix: versions mismatch
  package-lock.json
  package.json
Due: npm run format
